#script_txt2img_adv_xyz_plot_axis_options {
    margin: 1em 0em;
}

#script_txt2img_adv_xyz_plot_image_options {
    margin: 1em 0em;
}

#script_img2img_adv_xyz_plot_axis_options {
    margin: 1em 0em;
}

#script_img2img_adv_xyz_plot_image_options {
    margin: 1em 0em;
}
